# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock

# Build artifacts (they will be generated in the container)
dist/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Git-related files
.git/
.gitignore